:root
{
    --subHeaderSize: 2.5vw;
    --subSubHeaderSize: 2.3vw;
    --flowTextSize: 2.0vw;
    --TextColor: #fff;
    --headerSize: 5vw;
    --bottomLayer: 1;
    --midLayer: 2;
    --topLayer: 3;

    --golden: #926d3c;
    --days: #7cb9ab;
    --district: #ffea00;
    --deluxe: #b98765;
}

html
{
    
    background-color: black;
    font-size: 16px;
}

body
{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.signikaRegular 
{
    font-family: "Signika", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "GRAD" 0;
}

.actorRegular 
{
    font-family: "Actor", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.dmSerifDisplayRegular 
{
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
}
  
p,a,h1,h2,h3,h4,h5
{
    margin: 0;
    color: var(--TextColor);
}

h1, h2 
{
    font-size: 80px; /* Min: 18px, Pref: 2.5% of viewport, Max: 32px */
    line-height: 1.3;
    font-weight: bold;
}
  
h3 
{
    font-size: 40px; /* Min: 14px, Pref: 2% of viewport, Max: 24px */
    line-height: 1.4;
    font-weight: 100;
}
  
h4 
{
    font-size: 30px; /* Min: 12px, Pref: 1.75% of viewport, Max: 20px */
    line-height: 1.4;
}
  
h5 
{
    font-size: 1vw; /* Min: 10px, Pref: 1.5% of viewport, Max: 16px */
    line-height: 1.5;
}

p 
{
    font-size: 20px; /* Min: 14px, Pref: 2.5% of viewport, Max: 17.6px */
    line-height: 1.6; /* Ensure readability */
    margin: 0.5em 0;  /* Add spacing for better flow */
}

/*media queries for text sizes*/
@media only screen and (max-width: 1068px)and (max-width:1068px) {
   
    h1,h2 {
        font-size: 40px; /* Min: 18px, Pref: 2.5% of viewport, Max: 32px */
        line-height: 1.3;
        font-weight: bold;
      }
      
      h3 {
        font-size: 20px; /* Min: 14px, Pref: 2% of viewport, Max: 24px */
        line-height: 1.4;
        font-weight: 100;
      }
      
      h4 {
        font-size: 16px; /* Min: 12px, Pref: 1.75% of viewport, Max: 20px */
        line-height: 1.4;
      }
      
      h5 {
        font-size: 1vw; /* Min: 10px, Pref: 1.5% of viewport, Max: 16px */
        line-height: 1.5;
      }
    p 
    {
        font-size: 15px; /* Min: 14px, Pref: 2.5% of viewport, Max: 17.6px */
        line-height: 1.6; /* Ensure readability */
        margin: 0.5em 0;  /* Add spacing for better flow */
    }
}

@media only screen and (max-width: 734px)and (max-width:734px) 
{
    h1,h2 {
        font-size: 20px; /* Min: 18px, Pref: 2.5% of viewport, Max: 32px */
        line-height: 1.3;
        font-weight: bold;
      }
      
      h3 {
        font-size: 10px; /* Min: 14px, Pref: 2% of viewport, Max: 24px */
        line-height: 1.4;
        font-weight: 100;
      }
      
      h4 {
        font-size: 9px; /* Min: 12px, Pref: 1.75% of viewport, Max: 20px */
        line-height: 1.4;
      }
      
      h5 {
        font-size: 1vw; /* Min: 10px, Pref: 1.5% of viewport, Max: 16px */
        line-height: 1.5;
      }
    p 
    {
        font-size: 8px; /* Min: 14px, Pref: 2.5% of viewport, Max: 17.6px */
        line-height: 1.6; /* Ensure readability */
        margin: 0.5em 0;  /* Add spacing for better flow */
    }
  
}

.imagePopUpOverlay
{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    transform-origin: center center;
    z-index: 1000;
}
.imagePopUpOverlay.open
{
    display: flex;
    opacity: 1;
    animation: scale-ToView-Port-Size 0.5s linear;
}

.imagePopUpOverlay img
{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.navigationMenu
{
    position:fixed;
    display: flex;
    flex-direction: column;
    z-index: var(--topLayer);
    right: 0;
    bottom: 2%;
    right: -5%;
    width: var(--p-width);
    height: var(--p-height);
    border: solid;
    align-items: center;
    justify-content: center;
    border-right: transparent;
    border-radius: 20px;
    border-color: white;
    border-width: 2px;
    background-color: black;
    --p-width: 400px;
    --p-height: 250px
}

.aquaBackground
{
    background-color: var(--days);
}

.yellowBackground
{
    background-color: var(--district);
}

.bisqueBackground
{
    background-color: var(--deluxe);
}

.homeButton
{
    display: flex;
    justify-content: center;
    height:var(--p-height);
    width: var(--p-width);
    align-self: center;
    --p-width: 70px;
    --p-height: 70px;
}

.homeButton img
{
    height: 100%;
    width: 100%;
    align-self: center;
}

.navigationMenuLinks
{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100px;
}

.navigationMenuIcon
{
    width: 5%;
    height: 50%;
    margin-left: 10px;
}

.navigationMenuIcon.blue
{
    color: var(--days);
    background-color: var(--days);
}

.navigationMenuIcon.yellow
{
    color: var(--district);
    background-color: var(--district);
}

.navigationMenuIcon.lachs
{
    color: var(--deluxe);
    background-color: var(--deluxe);
}

.navigationMenuLink
{
    width: 100%;
    height: 33%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    text-align: right;
    justify-content: center;
    align-items: center;
    font-size: var(--dynamic-font-size);
    margin-bottom: 3px;
    --dynamic-font-size: 25px;
}

.navigationMenuLink a
{
    text-decoration: none;
}

.heroSection
{
    height: 8000px;  
    width: 100%; 
}

.heroSection div
{
    position: sticky;
    top: 0;
    height: 100vh;
    width: 100%;
}

.heroSectionHeader
{
    position: absolute;
    left: 50%;
    top: 25%;
    min-height: 100px;
    transform: translateX(-50%);
    color: #000000;
    z-index: 1;
}

.heroSectionSubHeader
{
    position: absolute;
    min-width: 600px;
    left: 55%;
    top: 32%;
    transform: rotateZ(-5deg) translateX(-43%);
    color: bisque;
    z-index: 1;
}

.heroSectionVideo
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.adSectionLogo
{
    opacity: 0;
    width: 10%;
    height: 100%;
    margin-left: 15%;
    margin-top: 4%;
    margin-right: 50px;
    z-index: 20;
}

.adSectionLogo.seen
{
    opacity: 1;
    animation: fade-in 3s linear;
}

.adSectionOverlayFade
{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: var(--topLayer);
    width: 100vw;
    height: 100vh;
    opacity: 1;
   
}

.adSectionOverlayFade.hidden
{
    opacity: 0;
    animation: fade-out 1.5s linear;
}

.stickySection
{
    margin-bottom: 20px;
    position: relative;
    height: 300vh;
    width: 100%;
    background-color: #000000;
}

.section
{
    height: fit-content;
    width: 100%;
    background-color: #000000;
    margin-bottom: 100px;
    margin-top: 50px;
}

.sectionOverlay
{
    position: absolute;

}

.sectionHeader
{
    position: relative;
    display: flex;
    flex-direction: row;
    z-index: var(--midLayer);
    width: 100%;
    height: fit-content;
    transform: translate(0%, 20%);
    margin-bottom: 5%;
}

.sectionHeader.centered{
    justify-content: center;
}

.quotationContainer
{
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: var(--p-height);
    --p-height: 600px
}

.quatationBigText
{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 10%;
    left: 25%;
    font-weight: bold;
}

.quotationQuotedPeopleText
{
    position: absolute;
    top: 40%;
    left: 58%;
    width: 100%;
    height: fit-content;
}


.quotationQuotedPeopleTaskText
{
    position: absolute;
    top: 45%;
    left: 58%;
    width: 100%;
    height: fit-content;
}

.quotationTextContainer
{
    position:absolute;
    top: 10%;
    left: 53%;
    width: 75%;
    height: 100%;
    text-align: left;
}

.quotationBorder
{
    position: absolute;
    border-left: solid;
    border-top: solid;
    border-bottom: solid;
    left: 20%;
    bottom: 0;
    width: 90%;
    height: 100%;
    transform-origin: left bottom;
}

.borderGold
{
    border-color: var(--golden);
}

.borderLachs
{
    border-color: var(--deluxe);
}

.quotationBorder.seen{
    animation: animateBorder 1s linear;
}

.sectionHeaderText
{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-top: 3%;
    left: 50%;
    text-align: left;
}

.Margin
{
    margin-left: 15%;
}

.sectionContainer
{
    position: relative;
    height: fit-content;
    width: 100%;
}

.stickySectionContainer
{
    position: sticky;
    top: 0;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: last baseline;
}

.sectionContentContainer{
    height: 100%;
    width: 100%;
}

.sectionVideo
{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
}


.storySlideShow
{
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%);
    width: 100vw;
    height:50%;
}

.storyElement
{
    position: absolute;
    left: 0;
    
    width: 100%;
    height: 100%;
    bottom: 0;
    opacity: 0;
    text-align: justify;
    align-items: center;
   
}

.storyElementCenteredLeftAllignedText
{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: fit-content;
    width: fit-content;
    align-items: center;
    justify-content: center;
}

.storyElementMultiElementContainer
{
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    height: 100%;
    justify-content: center;
    align-items: center;
    width: 75vw;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
}



.storyElementMultiElementContainerVideo
{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.storyElementMultiElementContainerAllignTextLeft
{
    text-align: left;
    margin-left: 40px;
}

.storyElementMultiElementContainerAllignTextRight
{
    position: relative;
    text-align: right;
    margin-right: 40px;
}

.storyElement div img
{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.storyElement.shown
{
    opacity: 1;
    animation: fade-in-right 1.0s linear;
}

.storyElement.hidden
{
    opacity: 0;
    left: -50%;
    animation: fade-out-left 0.3s linear;
}

.trioSlideShow
{
    margin-top: 50px;
    width: 100%;
    height: fit-content;
}

.trioSlideShowSlide
{
    height: var(--p-height);
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    will-change: transform;
    --p-height: 195px
    
}

.trioSlideShow div picture img
{
    height: var(--p-height);
    width: var(--p-width);
    border: solid;
    border-radius: 10%;
    --p-width: 345px;
    --p-height: 195px
   
}

.statsShowcase
{
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    height: fit-content;
    left: 50%;
    top: 0;
    transform: translate(-50%);
    justify-content: space-evenly;
    align-items: center;
}

.statImg
{
    width: var(--p-width);
    height: var(--p-height);
    
    --p-width:345px;
    --p-height:195px;
}

.statImg img
{
    width: 100%;
    height: 100%;
}

.statQuotation
{
    position: absolute;
    top: 65%;
    left: 70%;
    width: 75%;
    height: fit-content;
    text-align: justify;
    transform: translate(-50%, -65%);
}

.statsQuotedPeopleText
{   
    position: absolute;
    left:55%;
    top:80%;
    width: 100%;
    height: fit-content;
}

.deluxeLogo
{
    position: absolute;
    left: 25%;
    top: 55%;
    width: var(--p-width);
    height: var(--p-heigth);
    --p-width: 155px;
    --p-heigth: 77px;
}

.deluxeLogo img
{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.golden
{
    color: var(--golden);
}

.statsQuotedPeopleTaskText
{
    position: absolute;
    left:55%;
    top:85%;
    width: 100%;
    height: fit-content;
}

.laptopImage
{
    margin-top: 50px;
    margin-bottom: 20px;
    width: 50%;
    height: 45%;
}

.laptopImage img
{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.doubleDescriptionText
{
    position: relative;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    width: 100%;
    height: 100%;
    text-align: left;
}

.doubleDescriptionTextContainer
{
    position: relative;
}

.doubleDescriptionTextContainer h4
{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.laptopSlidingImage
{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.laptopSlidingImage img
{
    width: 80%;
    height: 80%;
}

@media  screen and (max-width: 1068px)and (max-width:1068px) {

    @media (orientation: portrait) {
        .storyElementMultiElementContainer
        {
            grid-template-rows: 50% 50%;
            grid-template-columns: 100%;
        }
        .storyElementMultiElementContainerAllignTextRight
        {
            grid-row: 2;
            text-align: center;
            margin-right: 0px;
        }
        .storyElementMultiElementContainerAllignTextLeft
        {
        text-align: center;
        margin-left: 0px;
        }
        .storyElement div
        {
            height: 100%;
        }
    }
    @media (orientation: landscape){
        .storySlideShow
        {
            bottom: 3%;
        }
    }
}

@media only screen and (max-width: 1068px)and (max-width:1068px) {
    .trioSlideShow div picture img {
        --p-width:265px;
        --p-height: 150px
    }
    .trioSlideShowSlide{
        --p-height: 150px
    }
    .quotationContainer
    {
        --p-height:500px;
    }
    .navigationMenu
    {
        --p-width: 250px;
        --p-height: 100px;
    }
    .navigationMenuLink
    {
        --dynamic-font-size: 15px;
    }
    .statImg
    {
        --p-width:150px;
        --p-height: 75px
    }
    .homeButton
    {
        --p-width: 35px;
        --p-height: 35px;
    }
}

@media only screen and (max-width: 734px)and (max-width:734px) {
    .trioSlideShow div picture img {
        --p-width:192px;
        --p-height: 108px
    }
    .trioSlideShowSlide{
        --p-height: 108px
    }
    .quotationContainer
    {
        --p-height: 300px;
    }
    .navigationMenu
    {
        --p-width: 150px;
        --p-height: 100px;
    }
    .navigationMenuLink
    {
        --dynamic-font-size: 10px;
    }
    .statImg
    {
        --p-width:80px;
        --p-height: 40px
    }
    .homeButton
    {
        --p-width: 17px;
        --p-height: 17px;
    }
}

@keyframes scale-ToView-Port-Size
{
    0%
    {
        width: 0vw;
        height: 0vh;
    }
    100%
    {
        width: 100vw;
        height: 100vh;
    }
}

@keyframes animateBorder
{
    0%
    {
        height: 0%;
        width: 1px;
    }
    50%
    {
        height: 100%;
        width: 1px;
    }
    100%
    {
        width: 75%;
    }
}

@keyframes fade-out
{
    0%
    {
        opacity: 1;
    }
    100%
    {
        opacity: 0;
    }
}

@keyframes fade-in
{
    0%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}

@keyframes move-upper-left-corner
{
    0%
    {
        left: 50%;
        top: 50%;
    }
    100%
    {
        left: 0;
        right: 0;
    }
}
@keyframes fade-in-right
{
    0%
    {
        opacity: 0;
        left: 50%;
    }
    100%
    {
        opacity: 1;
        left: 0%;
    }
}

@keyframes fade-out-left
{
    0%
    {
        opacity: 1;
        left: 0%;
    }
    100%
    {
        opacity: 0;
        left: -50%;
    }
}
