:root
{
    --subHeaderSize: 2.5vw;
    --TextColor: #fff;
    --headerSize: 5vw;
    --bottomLayer: 1;
    --midLayer: 2;
    --topLayer: 3

}

html
{
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-color: black;
    text-rendering: optimizeLegibility;
    font-size: 16px;
}
p, h1,h2,h3,h4, h5
{
    margin: 0;
    color: var(--TextColor);
}

h1,h2
{
    font-size: var(--headerSize);
}

h5
{
    font-size: var(--subHeaderSize);
}

h1,h2
{
    font-weight: bold;
}

.navigationMenu
{
    position:fixed;
    z-index: var(--topLayer);
    right: 0;
    bottom: 10%;
    width: 250px;
    height: 200px;
    border: solid;
    border-right: transparent;
    border-radius: 20px;
    border-color: white;
    background-color: black;
}

.homeButton
{
    width: 100%;
    height: 33%;
    background-color: white;
}

.navigationMenuLinks
{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 66%;
}

.navigationMenuIcon
{
    width: 100%;
    height: 100%;
}

.navigationMenuIcon img
{
    height: 100%;
    width: 100%;
}

.navigationMenuLink
{
    width: 100%;
    height: 33%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    text-align: right;
}

.navigationMenuLink a
{
    color: white;
   
}

.heroSection
{
    height: 4000px;  
    width: 100%; 
}

.heroSection div
{
    position: sticky;
    top: 0;
    height: 100vh;
    width: 100%;
}

.heroSectionHeader
{
    position: absolute;
    left: 50%;
    top: 25%;
    min-height: 100px;
    transform: translateX(-50%);
    color: #000000;
    z-index: 1;
}

.heroSectionSubHeader
{
    position: absolute;
    min-width: 600px;
    left: 55%;
    top: 32%;
    transform: rotateZ(-5deg) translateX(-43%);
    color: bisque;
    z-index: 1;
}

.heroSectionVideo
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.adSectionLogo
{
    opacity: 0;
    width: 10%;
    height: 100%;
    margin-left: 15%;
    margin-right: 50px;
    margin-top: 5px;
    z-index: 20;
}
.adSectionLogo.seen
{
    opacity: 1;
    animation: fade-in 2s linear;
}

.stickySection
{
    margin-bottom: 20px;
    border-bottom: solid;
    border-color: whitesmoke;
    position: relative;
    height: 300vh;
    width: 100%;
    background-color: #000000;
}

.section
{
    border-bottom: solid;
    border-color: whitesmoke;
    height: fit-content;
    width: 100%;
    background-color: #000000;
}

.sectionHeader
{
    position: relative;
    display: flex;
    flex-direction: row;
    z-index: var(--topLayer);
    width: 100%;
    height: fit-content;
    margin-bottom: 30px;
}

.sectionHeaderText
{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    text-align: left;
}

.sectionContainer
{
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: last baseline;
}

.stickySectionContainer
{
    position: sticky;
    top: 0;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: last baseline;
}

.sectionContentContainer{
    height: 100%;
    width: 100%;
}

.sectionVideo
{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
}


.storySlideShow
{
    position: relative;
    width: 100vw;
    height:80vh;
}

.storyElement
{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    height: 100%;
    bottom: 0;
    opacity: 0;
   
}

.storyElementCenteredLeftAllignedText
{
    position: absolute;
    text-align: left;
    left: 50%;
    top: 50%;
    transform: translate(-25%, -50%);
    height: fit-content;
    width: 100%;
}

.storyElementMultiElementContainer
{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    height: 50%;
    width: 75vw;
    margin-left: 20px;
    margin-right: 20px;
    grid-template-columns: 50% 50%;
    text-align: right;
    grid-template-rows: 100%;
}

.storyElement div img
{
    height: 100%;
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
}

.storyElement.shown
{
    left: 50%;
    opacity: 1;
    animation: fade-in-right 0.3s linear;
}

.storyElement.hidden
{
    opacity: 0;
    left: -50%;
    animation: fade-out-left 0.3s linear;
}

.trioSlideShow
{
    margin-top: 50px;
    width: 100%;
    height: fit-content;
}

.trioSlideShowSlide
{
    height: var(--p-height);
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    will-change: transform;
    --p-height: 195px
    
}

.trioSlideShow div picture img
{
    height: var(--p-height);
    width: var(--p-width);
    border: solid;
    border-radius: 10%;
    --p-width: 345px;
    --p-height: 195px
   
}

@media only screen and (max-width: 1068px)and (max-width:1068px) {
    .trioSlideShow div picture img {
        --p-width:265px;
        --p-height: 150px
    }
    .trioSlideShowSlide{
        --p-height: 150px
    }
}

@media only screen and (max-width: 734px)and (max-width:734px) {
    .trioSlideShow div picture img {
        --p-width:192px;
        --p-height: 108px
    }
    .trioSlideShowSlide{
        --p-height: 108px
    }
}

@keyframes fade-in
{
    0%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}

@keyframes move-upper-left-corner
{
    0%
    {
        left: 50%;
        top: 50%;
    }
    100%
    {
        left: 0;
        right: 0;
    }
}
@keyframes fade-in-right
{
    0%
    {
        opacity: 0;
        left: 100%;
    }
    100%
    {
        opacity: 1;
        left: 50%;
    }
}

@keyframes fade-out-left
{
    0%
    {
        opacity: 1;
        left: 50%;
    }
    100%
    {
        opacity: 0;
        left: 0%;
    }
}
